.commentField{
    padding: 1px 0px 1px 0px;
    text-align: left;
    display:flex;
    margin: 10px;
    width: 100% !important;

    .commentField2{
        width: 100%;
    }

    .comment_form{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.commentField input{
    border: none;
    outline: none;
    left: 2%;
    background: rgb(255, 255, 255);
    font-size: 18px;
    color: #555;
    border-radius: 25px;
    width: 75%;
    padding-left: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    box-shadow: inset 2px 2px 5px #cdced1, 
                inset -5px -5px 10px #ffffff;
}

.commentField button{
    outline:none;
    position: relative;
    background: rgb(207, 253, 228);
    border: none;
    width: 3rem;
    height: 30px;
    border-radius: 20px;
    margin-left: 15px;

    &:hover{
    box-shadow: 1px 1px 4px #cdced1, 
                -2px -2px 5px #ffffff;

    }

    &:active{
        box-shadow: inset 1px 1px 6px #cdced1, 
        inset -2px -2px 5px #ffffff;
    }
    
}

.commentField img{
    position: relative;
    left: 0%;
    transform: translateY(35%);
    object-fit: cover;
    background: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 1px 1px 4px #cdced1, 
                -2px -2px 5px #ffffff;

} 

.commentField i{
    color: rgb(96, 146, 84);
    size: 100px;
}

.profileCommentPic img{
    position: relative;
    left: 0%;
    transform: translateY(25%);
    object-fit: cover;
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: 1px 1px 4px #cdced1, 
                -2px -2px 5px #ffffff;
}

.profileImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profileCommentImage{
    left: 2%;
    position: relative;
    transform: translateY(110%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.dialogContent{
    padding: 10px;
}

.spinnerButton{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}