.card_div{
    background: #eff4f5;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 50px !important;
    box-shadow: 0px 10px 20px #d5d5d5 !important;     
}

.card_content{
    display: flex;
    flex-direction: row;
}

.content_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content_div{
    margin-left: 10px;
    padding: 10px;
    object-fit: cover;
    width: 100%;
}

.font_div{
    font-size: calc(15px + (0.6)*((110vw - 300px) / (1600 - 300)));
}

.font_title{
    font-size: calc(22px + (0.6)*((100vw - 300px)/(1600 - 300)));
}

.buttons_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px 1rem;

    span{
        font-weight: 700 !important;
    }
 }


 .commentB{
     display: inline-block;
     width: 60px;
     height: 60px;
     margin: 0px 5px 0px 5px; 
 }
 .likeB{
     display: inline-block;
     width: 60px;
     height: 60px;
     margin: 0px 5px 0px 5px; 
 }
 
 
 .postprofile-pic{
     width: 70px;
     height: 70px;
     object-fit: cover;
     border-radius: 20px;
     margin: 20px 0px 20px 20px;
     border: 1px solid rgba(0, 0, 0, 0.172);
 
 }
 
 .commentBox{
     outline:none;
     /* transform: translateX(-105%); */
     margin-top: 8px;
     margin-right: 5px;
     position: relative;
     background: rgb(207, 253, 228);
     border: none;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     font-size: 20px;
     color: grey;
     box-shadow: inset 2px 2px 5px #cdced1, 
                  inset -5px -5px 10px #ffffff;
 } 

