.positionLoader{
    align-content: center;
}

@media(max-width: 850px){
.userPresent{
    margin-top: 175px;
  }
}

.post_background{
  background: none;
}

.home_background{
  background: linear-gradient( 90deg, rgb(255, 215, 215),rgb(252, 216, 216));
}