.card,
.nonUserCard{
    background: white;
    border-radius: 40px !important;
    box-shadow: 0px 5px 15px #cdced1 !important;
    padding: 1rem;
    width: 15rem;
    margin: auto;
    position: fixed;


    @media screen and (max-width: 640px){
        display: none;

    }
}


.fontButton{
    letter-spacing: 1px;
    color: rgba(26, 35, 34, 0.8);
}


.profile{
    display: flex;
    flex-direction: column;

    .image-wrapper{
        text-align: center;
        position: relative;
    }

    .editPicture{
        position: absolute;
        top: 80%;
        left: 70%;
    }
    .profile-details{
        text-align: center;

        span, svg{
            vertical-align: middle;
        }

        a{
            color: blue;
        }
    }

    hr{
        border: none;
        margin: 0px 0px 10px 0px;
    }

    svg{
        .button{
            &:hover{
                cursor: pointer
            }
        }
    }
}


.profile_buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.profile-div,
.nonprofile-div{
    margin: auto auto;
    width: 380px;
    height: 500px;
    padding: 30px 5px 5px 5px;
    padding-bottom: 100px;
    border-radius: 30px;
    background: #eff4f5;
    box-shadow: 7px 7px 15px #cdced1,
               -5px -5px 7.5px #ffffff;
}

.profile-pic{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow:
    /* logo shadow */
    0px 0px 2px #5f5f5f,
    /* offset */
    0px 0px 0px 5px #ecf0f3,
    /* bottom right */
    10px 10px 20px #a7aaaf,
    /* top left */
    -15px -15px 9px #ffffff; 
}

.logout{
    height: 50px;
    width: 50px;
    -webkit-appearance: none;
    display: inline-flex;
    justify-content: center;
    margin: 15px 20px 10px 20px;
    outline: none;
    position: relative;
    border-radius: 50%;
    border: none;
    outline: none;
    align-items: center;
    font-size: 23px;
    color: rgb(88, 87, 87);
    background-color:white;
    transition: all .1s ease-in-out;
    border: 1px solid rgba(187, 2, 2, 0.398);
    &:hover{
        box-shadow:
        0px 5px 15px rgba(38, 38, 38, 0.289);
    }

    &:active{
        box-shadow:
        inset -2px -2px 2px rgba(255,255,255,0.5),
        inset  5px 5px 10px rgba(70,70,70,0.12);
        background-color: rgb(255, 243, 241);
    }   
}

.locationInfo,
.websiteInfo,
.calendarInfo{
    height: 10px;
    width: 10px;
    -webkit-appearance: none;
    display: inline-flex;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    outline: none;
    position: relative;
    border-radius: 50%;
    outline: none;
    align-items: center;
}


.locationInfo:after{
    font-family: FontAwesome;
    content: '\f0ac';
    color: #048f396c;
    font-size: 24px;
}


.websiteInfo:after{
    font-family: FontAwesome;
    content: '\f2bb';
    color: #047f8f71;
    font-size: 20px;
}

.calendarInfo:after{
    font-family: FontAwesome;
    content: '\f017';
    color: #38032063;
    font-size: 26px;
}

.editPicture{
    height: 35px;
    width: 40px;
    -webkit-appearance: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    border-radius:50%;
    outline: none;
    border: none;
    font-size: 23px;
    color: rgb(88, 87, 87);
    align-items: center;
    background-color:white;
    padding: 20px;
    transition: all .2s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.241);


    &:hover{
        box-shadow:
        0px 5px 10px rgba(70, 70, 70, 0.303);
    }

    &:active{
        box-shadow:
        inset -2px -2px 2px rgba(255,255,255,0.5),
        inset  5px 5px 5px rgba(70,70,70,0.12);
        background-color: rgb(255, 243, 241); 
    }
    
}

.nonprofile-login, .nonprofile-signup{
    height: 45px;
    width: 95px;
    -webkit-appearance: none;
    display: inline-flex;
    justify-content: center;
    margin-right: 13px;
    margin-top: 10px;
    outline: none;
    position: relative;
    border-radius: 20px;
    outline: none;
    align-items: center;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.289);
    padding: 10px !important;
    &:hover{
        box-shadow:
        0px 5px 15px rgba(70,70,70,0.12);
    }

    &:active{
        box-shadow:
        inset -2px -2px 2px rgba(255,255,255,0.5),
        inset  5px 5px 10px rgba(70,70,70,0.12);
    }
}

.nonprofile-login{
    background: rgb(255, 255, 248);
}

.nonprofile-signup{
    background: rgba(12, 77, 12, 0.501);

    .fontButton{
        color: white;
    }
}

.nonUserCard{
    padding-top: 1rem;
    
    .MuiIconButton-root{
        padding: 10px !important;
    }
    .buttons{
        display: flex;
        flex-direction: row;
    }
}